body{
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 20px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1em;
}

.badge {
  top: 10px; /* Ajusta la posición vertical */
  left: 10px; /* Ajusta la posición horizontal */
  width: 40px;
  height: 40px;
  background-color: #ffffff; /* Color del redondel */
  border: 4px solid #B19CD9; /* Margen de color #B19CD9 */
  border-radius: 50%; /* Asegura que el redondel sea circular */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000; /* Color del número */
  font-weight: bold;
  font-size: 20px;
}


.description {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.querySection {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: calc(100% - 50px); 
  margin-left: 20px; 
  margin-right: 20px; 
  position: relative; 
  border: 2px solid #ccc;
  border-radius: 10px;
}

#queryAndChartContainer {
  display: flex;
  flex-direction: row;
}

#queryContainer, #chartContainer {
  width: 50%;
  padding: 20px;
  height: 700px;
  overflow: auto;
}

.map{
  width: 100%;
  height: 100%;
}

#buttonContainer {
  width: 100%;
}

#consultButton {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; /* Hacer el texto del botón en negrita */
  margin-top: 10px; /* Agregar un poco más de margen arriba del botón de consulta */
  width: 100%;
  padding: 15px;
  background-color: #B19CD9; /* Color lila */
  color: white;
  border: none;
  border-radius: 0; /* Quitar los bordes redondeados */
  cursor: pointer;
}

#consultButton:hover {
  background-color: #9775BB; /* Cambiar color al pasar el ratón */
}
